@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
html {
  margin: 0 !important;
  overflow: auto !important;
}

body {
  color: #e6e6e6;
  background-color: #252525;
  background-image: url(../images/bg.png);
  background-attachment: fixed;
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  line-height: 1.7;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.content {
  position: relative;
  margin: 0 auto;
  width: 90%;
  height: 30px;
  /* border-left: 1px solid #505050; */
  /* border-right: 1px solid #505050; */
  box-shadow: 1px 0px 0px 0px #505050, -1px 0px 0px 0px #505050;
}
@media only screen and (min-width: 768px) {
  .content {
    max-width: 920px;
  }
}
@media (min-width: 1200px) {
  .content {
    max-width: 920px;
  }
}
@media (min-width: 1366px) {
  .content {
    max-width: 1200px;
  }
}
.hero {
  min-height: 100vh;
  /* background-image: url(../images/bg-hero.png); */
  background-position: center;
  background-size: auto 100%;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content__grid {
  /* border-left: 1px solid #505050; */
  /* border-right: 1px solid #505050; */
  position: absolute;
  top: 0;
  left: 25%;
  right: 25%;
  bottom: 0;
  z-index: 1;
 
}
@media only screen and (min-width: 768px) {
  .content__grid {
     box-shadow: 1px 0px 0px 0px #505050, -1px 0px 0px 0px #505050;
  }
}
.content__grid:before {
  content: "";
  position: absolute;
  border-right: 1px solid #505050;
  height: 100%;
  width: 0px;
  left: 50%;
}
.hero__logo {
  width: 75%;
  margin: 0 auto;
  margin-bottom: 40px;
  z-index: 2;
}
@media only screen and (min-width: 768px) {
  .hero__logo {
     width: 50%;
  }
}
.hero__utp {
  font-size: 18px;
  color: #e6e6e6;
  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .hero__utp {
    font-size: 24px;
  }
}
.hero__utp span {
  color: #5cddbf;
}
.hero__contacts {
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.hero__contacts a {
  display: block;
  width: 36px;
  height: 36px;
  margin: 0 10px;
}

.hero__contacts a svg {
  fill: #e6e6e6;
}



.hero__scroll_down {
  position: absolute;
  bottom: 40px;
  left: 0;
  width: 100%;
  z-index: 1;
}


@-webkit-keyframes ani-mouse {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 29%;
  }
}
@keyframes ani-mouse {
  0% {
    top: 29%;
  }
  15% {
    top: 50%;
  }
  50% {
    top: 50%;
  }
  100% {
    top: 29%;
  }
}
.mouse_wrapper {
  color: #ababab;
  font-size: 14px;
  display: block;
  max-width: 100px;
  margin: auto;
  text-align: center;
  text-decoration: none;
  transition: .3s;
}
.mouse_wrapper:hover {
  color: #FFF;
}

.mouse {
  border: solid 2px #58cfb3;
  border-radius: 16px;
  display: block;
  margin: auto;
  margin-top: 10px;
  height: 26px;
  position: relative;
  width: 20px;
}
.mouse .wheel {
  background: #5cddbf;
  border-radius: 100%;
  display: block;
  position: absolute;
  top: 8px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 4px;
  width: 4px;
  -webkit-animation: ani-mouse 2s linear infinite;
  animation: ani-mouse 2s linear infinite;
}

.portfolio{
    display: flex;
    /* justify-content: space-between; */
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    position: relative;
    padding-left: 0!important;
    padding-right: 0!important;
}

.portfolio__head {
    z-index: 2;
    min-width: 100%;
    margin-bottom: 50px;
    position: sticky;
    top: 30px;
    text-align: center;
}

.section-title {
    font-size: 30px;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #e6e6e6;
    text-align: center;
    display: inline-block;
    background-color: #252525;
}
@media only screen and (min-width: 768px) {
  .section-title {
     font-size: 50px;
  }
}
.portfolio-filter {
    display: flex;
    list-style: none;
    color: #e6e6e6;
    font-size: 16px;
    justify-content: center;
    flex-wrap: wrap;
}

.portfolio-filter li {
    margin: 0 20px 10px;
    transition: .3s;
    cursor: pointer;
}

.list-inline-item.current {
    color: #5cddbf;
}

.portfolio-filter li:hover {
    color: #fff;
}
.portfolio__item{
    overflow: hidden;
    width: 100%;
    padding: 20px;
    z-index: 2;
    /* border: 1px solid #505050; */
    background-color: #252525;
    box-shadow: 0px 0px 0px 1px #505050;
}
@media only screen and (min-width: 768px) {
  .portfolio__item {
    width: 33.333%;
  }
}
.portfolio__content {
    overflow: hidden;
    width: 100%;
    display: block;
    position: relative;
}

.white-popup-viewer {
    display: none;
}

.portfolio__details {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
}
.portfolio__details .title{
  font-size: 18px;
  color: #e6e6e6;
  position:absolute;
  top: calc(50% );
  left: 20px;
  max-width: 90%;
  transition:.6s
}
.portfolio__item:hover .portfolio__details .title{
  top: calc(50% - 30px);
   opacity:1
}
.portfolio__details .term {
    background-color: #5cddbf;
    padding: 5px 12px;
    color: #252525;
    text-transform: uppercase;
    font-weight:700;
    font-size: 14px;
    transition: .3s;
    top: -41px;
    display: inline-block;
    position: relative;
    left: 20px;
    opacity:0;
    transition:.6s
}

.portfolio__item:hover .term{
  top: 0px;
  opacity:1;
}

.portfolio__item:hover .portfolio__details {
  
  opacity:1
}
.portfolio__content img {
    width: 100%;
    /* filter: grayscale(100%); */
  transition: .6s
}
.portfolio__item:hover .portfolio__content img{
  filter: grayscale(100%);
  opacity:.1
}
.mfp-zoom-in {
  /* start state */
  /* animate in */
  /* animate out */
}
.mfp-zoom-in .mfp-with-anim {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
}
.mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.mfp-zoom-in.mfp-ready .mfp-with-anim {
  opacity: 1;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}
.mfp-zoom-in.mfp-removing .mfp-with-anim {
  -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
          transform: scale(0.8);
  opacity: 0;
}
.mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}


/**
 * Fade-zoom animation for first dialog
 */
/* start state */
.my-mfp-zoom-in .zoom-anim-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
}

/* animate in */
.my-mfp-zoom-in.mfp-ready .zoom-anim-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

/* animate out */
.my-mfp-zoom-in.mfp-removing .zoom-anim-dialog {
  -webkit-transform: scale(0.8);
  -ms-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

/* animate in */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* animate out */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

.mfp-close {
  font-size: 40px;
  opacity: 1;
}
.mfp-close:hover {
  opacity: 0.75;
}
/* Styles for dialog window */
.white-popup {
  background: white;
  text-align: left;
  max-width: 1200px;
  width: 94%;
  margin: 30px auto;
  position: relative;
  max-height: calc(100vh - 100px);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}


.white-popup-viewer {
  height: 100%;
  max-height: 100%;
  overflow: hidden;
  overflow-y: auto;
  width: 100%;
  background-color: #fff;
  display: block;
}

.white-popup-viewer img {
    width: 100%;
}

.white-popup-viewer::-webkit-scrollbar {
    width: 8px;
    height: 5px;
    background: #505050
}

.white-popup-viewer::-webkit-scrollbar-thumb {
    background: #E6E6E6;
    border-radius: 10px
}

.white-popup-viewer:hover::-webkit-scrollbar-thumb {
    background: #5CDDBF
}

.portfolio__wrapper {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    flex-direction: row;
    background-color: #252525;
    z-index: 2;
    box-shadow: inset 0px -1px 0px 0px #505050;
}  

.vhs-effect {
  filter: url(#vhs-filter);
  animation: glitch 4s infinite;
}

/* Анимация смещения и шума */
@keyframes glitch {
  0% {
      transform: translate(0);
      opacity: 1;
      filter: grayscale(0%);
    
  }
  1% {
      transform: translate(-1px, 5px);
      opacity: 0.6;
      filter: hue-rotate(270deg)
  }
  2% {
      transform: translate(5px, -5px);
      opacity: 0.9;
      filter: grayscale(0%);
      filter: hue-rotate(0)
  }
  3% {
      transform: translate(-5px, 5px);
      opacity: 0.6;
      filter: grayscale(100%);
  }
  4% {
      transform: translate(2px, -3px);
      opacity: 0.85;
      filter: grayscale(0%);
      filter: hue-rotate(270deg)
  }
  5% {
      transform: translate(0);
      opacity: 1;
      filter: grayscale(0%)
  }
  6% {
      transform: translate(-5px, 5px);
      opacity: 0.6;
      filter: grayscale(100%);
      filter: hue-rotate(0)
  }
  7% {
      transform: translate(5px, -5px);
      opacity: 0.9;
      filter: grayscale(0%)
  }
  8% {
      transform: translate(-1px, 5px);
      opacity: 0.6;
      filter: grayscale(100%);
  }
  9% {
      transform: translate(3px, -5px);
      opacity: 0.85;
      filter: grayscale(0%)
  }
  10% {
    transform: translate(0);
    opacity: 1;
    filter: grayscale(0%)
  }
  100% {
      transform: translate(0);
      opacity: 1;
      filter: grayscale(0%);
  }
}
.about{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 100%;
    padding-bottom: 160px;
}

.about__head {
    min-width: 100%;
    margin-top: 100px;
    z-index: 2;
    margin-bottom: 35px;
    text-align: center;
}

.about__item {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}
@media only screen and (min-width: 768px) {
  .about__item {
    width: 25%;
  }
}
.fact-item .icon {
}
.about_item{}

/*=================================================================*/
/*                      FACTS                              
/*=================================================================*/

.fact-item .details {
  text-align:center;
  margin-bottom:50px
}
@media only screen and (min-width: 768px) {
 .fact-item .details {
     margin-left: 16px;
     margin-bottom:0;
     text-align: left;
  }
}
.fact-item .icon {
  height: 70px;
  color: #DEDEEA;
  width: 70px;
  margin-bottom: 15px
}
@media only screen and (min-width: 768px) {
  .fact-item .icon {
     margin-bottom: 0
  
  }
}
.fact-item .icon svg {
    fill: #5cddbf;
}

.fact-item {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    flex-direction: column;
}
@media only screen and (min-width: 768px) {
  .fact-item {
    flex-direction: row;
  }
}

.fact-item .number {
  font-size: 30px;
}
.fact-item .number em {
  font-style: normal;
}
.fact-item p {
  font-size: 16px;
}
.video-background {
  
   /* Высота 100% от окна браузера */
  overflow: hidden;
  position: absolute;
  z-index: -1;
  top: 0px;
  left: 1px;
  right: 1px;
  bottom: 0;
}

/* Стили для самого видео */
.video-background video {
  position: absolute;
  top: 50%;
  left: 50%;
  /* min-width: 100%; */
  /* min-height: 100%; */
  width: auto;
  height: auto;
  z-index: -1;
  transform: translate(-50%, -50%);
}

/* Контент поверх видео */
.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
  font-size: 2rem;
  padding: 20px;
}